<section>
		<div class="mm">
			<div class="mm-inn">
				<div class="mm-logo">
					<a href="index.html"><img src="/assets/images/logo.png" alt="">
					</a>
				</div>
				<div class="mm-icon"><span><i class="fa fa-bars show-menu" aria-hidden="true"></i></span>
				</div>
				<div class="mm-menu">
					<div class="mm-close"><span><i class="fa fa-times hide-menu" aria-hidden="true"></i></span>
					</div>
					<ul>
						<li><a [routerLink]="['/home']" routerLinkActive="router-link-active" >Home </a>
						</li>
						<li><a [routerLink]="['/signup']" routerLinkActive="router-link-active" >Registration</a>
						</li>
						<li><a [routerLink]="['/findbus']" routerLinkActive="router-link-active" >Book	Ticket</a>
						</li>
						<li><a [routerLink]="['/login']" routerLinkActive="router-link-active" >Home - Block Color</a>
						</li>						
						
						
					</ul>
				</div>
			</div>
		</div>
	</section>